@page "/testpage"
@*"#7cb5ec", "#434348", "#90ed7d", "#f7a35c", "#8085e9", "#f15c80", "#e4d354", "#2b908f", "#f45b5b", "#91e8e1"*@


<MatCard Style="background-color:#7cb5ec;width:32px"><div>7cb5ec</div> </MatCard>
<MatCard Style="background-color:#434348;width:32px"><div>434348</div> </MatCard>
<MatCard Style="background-color:#90ed7d;width:32px"><div>90ed7d</div> </MatCard>
<MatCard Style="background-color:#f7a35c;width:32px"><div>f7a35c</div> </MatCard>
<MatCard Style="background-color:#8085e9;width:32px"><div>8085e9</div> </MatCard>
<MatCard Style="background-color:#f15c80;width:32px"><div>f15c80</div> </MatCard>
<MatCard Style="background-color:#e4d354;width:32px"><div>e4d354</div> </MatCard>
<MatCard Style="background-color:#2b908f;width:32px"><div>2b908f</div> </MatCard>
<MatCard Style="background-color:#f45b5b;width:32px"><div>f45b5b</div> </MatCard>
<MatCard Style="background-color:#91e8e1;width:32px"><div>91e8e1</div> </MatCard>

<h3>TestPage</h3>
@*<div id="container">

    </div>
    <tapeStream.Client.Components.HighCharts.TimeRows />*@
@*<tapeStream.Client.Components.HighCharts.ClockGauge />*@
@code {

}
