@using tapeStream.Server.Data;
@using tapeStream.Server.Components;
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


@page "/"

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        navigationManager.NavigateTo("streamer");
    }
}

@*<BookPieChart isPrintsSize="false" seconds="5" symbol="QQQ" />*@


@*<PrintsDashboard symbol="QQQ" />*@

@*<h1>Welcome to BT</h1>

    <div id="chartDiv" style="width: 100%; height: 400px;"></div>

    tapeStream.Server, BT, is designed to let you place several credit spread orders with a single click.
    <br />
    You pick
    <ul>
        <li>
            the strikes
        </li>
        <li>
            call or put spread
        </li>
        <li>
            the # and price at each strike
        </li>
        <li>
            the target premium at each strike
        </li>
    </ul>

    It then places all your orders and then also places GTC closing orders for every order that executes.
    <br />
    <br />
    In fully automated mode, BT will figure out which orders to place the automatically, picking strikes, et al., without user intervention.
    <br />
    You don't have to pick anything.

    <br />
    Should handle placing the same orders across multiple accounts and multi-tenancy.



    <SurveyPrompt Title="How is Blazor working for you?" />*@



