
@page "/streamer"
@using tapeStream.Server.Data
@using tapeStream.Server.Components

<Radzen.Blazor.RadzenCard>
    <span>NASDAQ Symbol:&nbsp; <Radzen.Blazor.RadzenTextBox @bind-Value="@symbol" /></span>
</Radzen.Blazor.RadzenCard>
<TDAStreamer symbol="@symbol.ToUpper()" />
<style>
    .textbox {
        font-weight: 600;
        font-size: large;
        text-transform: uppercase;
    }
</style>

@code {

    public string symbol = "QQQ";

}
