
@page "/streamer"
@using tapeStream.Server.Data
@using tapeStream.Server.Components


<TDAStreamer symbol="@symbol" />
<RadzenAccordion Style="background-color:transparent;width:100%">
    <Items>
        <RadzenAccordionItem Text="Select Symbol" Icon="settings" Style="width:100%">
            <Radzen.Blazor.RadzenCard>
                <span>NASDAQ Symbol:&nbsp; <Radzen.Blazor.RadzenTextBox @bind-Value="@symbol" /></span>
            </Radzen.Blazor.RadzenCard>
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>
<br />
<style>
    .textbox {
        font-weight: 600;
        font-size: large;
        text-transform: uppercase;
    }
</style>

@code {

    public string symbol = "QQQ";

}
