@*<h3>HighChart</h3>*@

@inject Microsoft.JSInterop.IJSRuntime jsruntime;
@inject HttpClient _client

<div id="@id.ToString()" style="overflow:visible"></div>

@code
{
    protected override bool ShouldRender() => redrawChart2;


}


