@*<h3>HighChart3D</h3>*@
@inject Microsoft.JSInterop.IJSRuntime jsruntime;

<div id="@id.ToString()"></div>

@code
{
    [Parameter] public string Json { get; set; }
    private string id { get; set; } = "Highchart" + Guid.NewGuid().ToString();


    protected override void OnParametersSet()
    {
        StateHasChanged();
        base.OnParametersSet();
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!string.IsNullOrEmpty(Json))
        {
            await jsruntime.InvokeAsync<string>("load3Dchart", new object[] { "container", Json });

            }

        await base.OnAfterRenderAsync(firstRender);
    }
}
