<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="blazor-environment" value="Development" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="Development Server" value="http://localhost:55540/" />
    <add key="Production Server" value="http://tapeStream.com/" />
  </appSettings>
</configuration>
