@inherits LayoutComponentBase
@using tdaStreamHub.Data
@*@inject BlazorTimer blazorTimer*@
@inject IBootstrapCss BootstrapCss
<RadzenDialog />

<style>
    .top-row:first-child {
        justify-content: left;
    }
</style>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @*<div class="top-row px-4">
        <h5 class="navbar-brand" style="display: inline;position: relative;top: 5px;z-index:1000">@TDANotifications._currentDateTime</h5>
    </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>

