@using tdaStreamHub.Data;
<div class="top-row pl-2 navbar navbar-dark">
    <img src="./favicon.ico" style="width:16px;margin-right:5px" />
    <a class="navbar-brand" href=""><i style="color:#009bec">tape</i>Stream</a>
    <img src="@hubStatus" style="width:16px;" title="tapeStream Hub Connection Status" />
    <span>&nbsp;&nbsp;</span>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    @*<img src="./favicon.ico" style="width:16px;" />*@

</div>

<div class="@NavMenuCssClass" style="top:30px" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"><RadzenIcon Icon="home" /></span> &nbsp;The&nbsp; <i style="color:#009bec">tape</i>
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="streamer">
                <span class="oi" aria-hidden="true"><RadzenIcon Icon="waves" /></span> &nbsp;Streaming
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tdaAuth">
                <span class="oi" aria-hidden="true"><RadzenIcon Icon="security" /></span> &nbsp;Authorization
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    string hubStatus = "";

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        hubStatus = TDAStreamerData.hubStatus;

        TDAStreamerData.OnHubStatusChanged += HubStatusChanged;
        await Task.CompletedTask;
    }

    public void HubStatusChanged()
    {
        hubStatus = TDAStreamerData.hubStatus;
        StateChangedAsync();
    }

    private async Task StateChangedAsync()
    {
        await InvokeAsync(() => StateHasChanged());
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
<style>
    html, body, body * {
        background-color: transparent;
    }
</style>