<h3>Columns3D</h3>
<style>
    #container {
        /*        height: 100vh;
        min-width: 310px;
        max-width: 100hw;*/
        margin: 0 auto;
    }
</style>
<h3>HighChart</h3>
<div id="container">

</div>
@*<HighChart3D Json="@chart3Djson">

</HighChart3D>*@
@code {

}
