<h3>StackedColumns3D</h3>

<style>
    #container {
        /*        height: 100vh;
        min-width: 310px;
        max-width: 100hw;*/
        margin: 0 auto;
    }
</style>

<h3>HighChart</h3>
<div id="container">

</div>

@inject Microsoft.JSInterop.IJSRuntime jsruntime;
@name;
<tapeStream.Client.Components.HighCharts.Base.HighChart3D Json="@chart3Djson" />