@*<h3>StackedColumns3D</h3>*@
@using tapeStream.Client.Components.HighCharts
@using tapeStream.Client.Components.HighCharts.Base

<style>
    #container {
        /*height: 80vh;*/
        /*min-width: 310px;
        max-width: 100hw;*/
        /*margin: 0 auto;*/
    }
</style>

@*<h3>HighChart</h3>*@

<div style="width:100%">
    <ChartConfigure title="QǬǪ —— Level II + Time & Sales" />
</div>

@inject Microsoft.JSInterop.IJSRuntime jsruntime;
@*@name;*@
<div style="display:grid">
    <div>
        @* Injects the data and redraws the chart *@
        <HighChart chartJson="@chart3Djson"
                   chartSeriesJson="@chartSeriesJson"
                   updateMode="@HighChart.dataUpdateMode"
                   chartJsFilename="js/StackedColumns3DChart.js" />
    </div>
</div>