@*<h3>StackedColumns3D</h3>*@
@using tapeStream.Client.Components.HighCharts
@using tapeStream.Client.Components.HighCharts.Base
@inject Microsoft.JSInterop.IJSRuntime jsruntime;
@inject HttpClient _client
@inject Blazored.LocalStorage.ISyncLocalStorageService  localStorage
<style>
    #container {
        /*height: 80vh;*/
        /*min-width: 310px;
        max-width: 100hw;*/
        /*margin: 0 auto;*/
    }
</style>

<div style="width:100%">
    <ChartConfigure title="QǬǪ —— Level II + Time & Sales" />
</div>


@*@name;*@
<div style="display:grid">
    <div>
        @* Injects the data and redraws the chart *@
        <HighChart chartJson="@chartJson"
                   chartSeriesJson="@chartSeriesJson"
                   updateMode="@HighChart.dataUpdateMode"
                   chartJsFilename="js/StackedColumns-3DChart.js"
                   id="StackedColumns3DChart" 
                   redrawChart="ChartConfigure.redrawChart"/>
    </div>
</div>