@*<h3>Columns</h3>*@
@using tapeStream.Client.Components
@using tapeStream.Shared.Data;
@using tapeStream.Client.Components.HighCharts

<StackedColumns3D symbol="@symbol" bookData="@bookColData" />

@code {

}
