<h3>PrintsGroupedStackedColumnCart</h3>
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.BarChart.Axes
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util

<Chart TItem="BarConfig" Config="_config" @ref="_chart"></Chart>

<button @onclick="RandomizeData">Randomize Data</button>

@code {

}
